<content class="dashboard-container">

   <dashboard-chart 
      [chartTitle]="'Total Viewers For Games'"
      [gameName]="['Far Cry 5','Assassins Creed Odyssey','Rainbow Six Siege']" 
      [gameId]="['497078', '506274', '460630']"
      [seriesColor]="['#ff9900', '#ff1a8c', '#33ccff']"
      [data]="gameData">
   </dashboard-chart>

   <dashboard-chart 
      [chartTitle]="'Assassins Creed Odyssey'" 
      [gameName]="'Assassins Creed Odyssey'" 
      [gameId]="'506274'" 
      [seriesColor]="'#ff1a8c'"
      [data]="gameData">
   </dashboard-chart>

   <dashboard-chart 
      [chartTitle]="'Far Cry 5'" 
      [gameName]="'Far Cry 5'" 
      [gameId]="'497078'" 
      [seriesColor]="'#ff9900'"
      [data]="gameData">
   </dashboard-chart>

   <dashboard-chart 
      [chartTitle]="'Rainbow Six Siege'" 
      [gameName]="'Rainbow Six Siege'" 
      [gameId]="'460630'" 
      [seriesColor]="'#33ccff'"
      [data]="gameData">
   </dashboard-chart>

</content>
